extractors:
  - target: fund_name_from_em_akshare
    tags: ["extractor", "akshare"]
    destination_key_template: "lake/raw/daily/fund_name/akshare/em/dt={PARTITION_DATE}/data.csv"
    fetcher: "dags.extractor.increment.functions.fetch_fund_name_from_em_akshare:fetch_fund_name_from_em_akshare"
