extractors:
  - target: fund_name_from_em_akshare
    tags: ["extractor", "akshare"]
    destination_key_template: "lake/raw/daily/fund_name/akshare/em/dt={PARTITION_DATE}/data.csv"
    fetcher: "dags.extractor.increment.functions.fetch_fund_name_from_em_akshare:fetch_fund_name_from_em_akshare"
    
  - target: tool_trade_date_hist_sina_akshare
    tags: ["extractor", "akshare"]
    destination_key_template: "lake/raw/daily/tool_trade_date_hist/sina/akshare/dt={PARTITION_DATE}/data.csv"
    fetcher: "dags.extractor.increment.functions.fetch_tool_trade_date_hist_sina_akshare:fetch_tool_trade_date_hist_sina_akshare"