services:
  airflow:
    build:
      context: .
      dockerfile: ./infra_build/dockerfiles/Dockerfile.airflow
    container_name: airflow-stock
    restart: always
    env_file:
      - .env
    environment:
      # --- Database connection (Supabase) ---
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=${AIRFLOW_METADATA_DB_URL}
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False

      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=False
      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS=admin:admin
      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE=/opt/airflow/simple_auth_manager_passwords.json.generated

      # - AIRFLOW__API__EXPOSE_CONFIG=non-sensitive-only
      - AIRFLOW__API__EXPOSE_CONFIG=True

      # - AIRFLOW_CONN_MINIO_S3=s3://${S3_ACCESS_KEY_ID}:${S3_SECRET_ACCESS_KEY}@?endpoint_url=${S3_ENDPOINT_URL}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}

    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./infra_build/conf/simple_auth_manager_passwords.json:/opt/airflow/simple_auth_manager_passwords.json.generated
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate && 
      airflow standalone"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/v2/monitor/health"]
      interval: 30s
      timeout: 10s
      retries: 5

  minio:
    image: quay.io/minio/minio
    container_name: minio-stock
    ports:
      - "9000:9000"  # S3 API
      - "9001:9001"  # 控制台 UI
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped


  jupyter:
    build:
      context: .
      dockerfile: ./infra_build/dockerfiles/Dockerfile.jupyter
    container_name: jupyter-stock
    ports:
      - "8888:8888"
    environment:
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - JUPYTER_TOKEN=admin
    volumes:
      - ./notebooks:/home/jovyan/work