# airflow
AIRFLOW_METADATA_DB_URL=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW_ADMIN_PASSWORD=admin

# S3
S3_BUCKET_NAME=stock-data
AIRFLOW_CONN_MINIO_S3='{"conn_type": "aws", "login": "minioadmin", "password": "minioadmin", "extra": {"endpoint_url": "http://minio-stock:9000"}}'

# tushare api
TUSHARE_TOKEN=xxxx